.percl{
    width: 11%;
}
.perc{
    width:14%;
}
.percq{
    width:20%;
}
.col{
    background-color:#f5f5f5;
}
.r{
    background-color:#D6D8DD;
}
.colt{
    border: 1px solid;
    text-align: center;
}
.padi{
    padding: 0px 0px 0px 80px;
}
.lis{
    list-style-type:none;
}
.pad{
    padding: 0px 0px 0px 250px;
}
.pa{
    padding: 5px 0px 0px 0px;
}

.le{
   color:#333333;
    text-decoration:none;
    font-size: 20px;
}
.le:hover{
    color:#006699;
    text-decoration:none;
    font-size: 20px;
}
.l{
   color:#333333;
    text-decoration:none;
}
.l:hover {
    color: #006699;
    text-decoration: none;
}
#nav{
    position:relative;
    z-index:1;
    list-style:none;margin: 0px;padding: 0px;}
#nav li {
margin-right: 20px;
font-size: 14px;
font-weight:bold;
}
#nav li a{color:#333333;text-decoration:none}
#nav li a:hover{color:#006699;text-decoration:none}

#notification_li
{
position:relative
}
#notificationContainer
{
background-color: #fff;
/*background-color: #2A58CA;*/
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 30px;
margin-left: 100px;
width: 400px;
z-index: -1;
display: none; /* Enable this after jquery implementation*/
}
/* Popup Arrow*/
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -30px;
margin-left: 400px;
}
#notificationsBody
{
padding: 33px 0px 0px 0px !important;
min-height:50px;
}
#notificationFooter
{
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}
#notification_count
{
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 95px;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
position: absolute;
margin-top: 0px;
font-size: 11px;
}
.navClass > ul{
    list-style: none;
}
.navClass > ul > li{
    list-style-type: none;
    position: relative;
    display: inline-block;
}
.navClass > ul > li:hover{
    background-color: #BEBEBF;
}
ul.cont{
    padding-left:0px;
    margin-left: -8px;
    position: absolute;
    background-color: #BEBEBF;
    list-style-type: none;
    width: 125px;
    display: none;
}
.navClass li:hover .cont{
    display: block;
}
.p-v-md {
    padding-top: 24px;
    padding-bottom: 24px;
}
.m-t-lg {
    margin-top: 32px;
    padding: 83px;
}
.p-lg {
    padding: 32px;
}
.text-color {
    color: rgba(0, 0, 0, 0.87);
}
.md-form-group {
    position: relative;
    padding: 18px 0 24px 0;
}
.float-label .md-input ~ label {
    top: 20px;
    font-size: 1em;
}
.w-xx{
    width: 600px;
}
.w-xxl{
    width: 300px;
}
@media (max-width: 767px) {
    .w-auto-xs {
        width: auto;
    }

    .w-full-xs {
        width: 100%;
    }
}
.float-label .md-input.ng-dirty ~ label,
.float-label .md-input.has-value ~ label {
    top: 0;
    font-size: 0.85em;
}
ul.catBlock{
  width:960px;
  height: 270px;
  border:1px solid #ccc;
  display: table;
  display: table-cell;
}

ul.catBlock li{
  list-style: none;
  float:left;
  display:block;
  text-align: center;
  width:160px;
  height: 100px;
}

ul.catBlock li a{
    line-height: 100px;
  display: block;
  padding: 30px 10px 5px 10px;
  height:60px;
}
.md-input {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 34px;
    padding: 2px;
    color: inherit;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    border-radius: 0;
    box-shadow: none;
}
  .bottom-align-text {
    position: relative;
    bottom: 0;
    right: 0;
  }
.md-input:focus,
.md-input.focus {
    border: 1.5px solid #0168AC;
}
.centerm{
    padding-top: 25px;
}
.center{
    text-align: center;
}
#container-reg {
  margin-top: 40px;
  margin-bottom: 100px;
}
#container-reg .margin-form {
  margin: 30px 0;
}
.md-input:focus ~ label,
.md-input.focus ~ label {
    top: 0 !important;
    font-size: 0.85em !important;
    color: #0168AC;
    opacity: 1;
}



.md-input ~ label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: inline-block;
    font-size: 0.85em;
    opacity: 0.5;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.md-input.disabled,
.md-input[disabled] {
    opacity: 0.5;
}

textarea.md-input {
    height: auto;
}


.md-input-msg {
    position: absolute;
    bottom: 0;
    font-size: 0.85em;
    line-height: 24px;
}

.md-input-msg.right {
    right: 0;
}
.p-h-md {
    padding-right: 24px;
    padding-left: 24px;
}
.input-log {
    border-bottom: 1px solid #7FC8F8;
}

.label-log {
    color: #7FC8F8;
    font-size: 16px !important;
    opacity: 1 !important;
}
.log-no-bg {
    background-color: transparent;
}
.setup
{
    padding-top: 65px;
    text-align: center;
}
.ss
{
    padding-top: 24px;
}
.s
{
    padding-top: 50px;
}
.itj
{
    padding-top: 85px;
    text-align: center;
}
