<div class="center-block w-xx w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
<div>
    <h3>Información de mis viajes</h3>
    <div class="col-xs-12 padi list-group"><ul id="nav" class="center">
            <li id="notification_li"><div class="center"><strong class="pull-left" ng-show="auth">Bienvenido: {{user}}
            <a href="#!/logout">Cerrar sesión</a></strong></div>
                <span id="notification_count">{{not}}</span><a ng-click="hide()" id="notificationLink">Notificaciones</a>
<div id="notificationContainer"><div id="notificationsBody" class="notifications"
    ng-show="notified" ng-repeat="notification in notifications">{{notification.description}}
    <a ng-href="#!/trip/detail/{{notification.trip}}">Viaje</a>
    <a ng-href="#!/vehicle/detail/{{notification.vehicle}}">Vehículo</a> el {{notification.createdAt}}</div></div>
    </li></ul>
    </div>
    <ul class="list-group visible-lg visible-md visible-sm" ng-show="show"ng-repeat="drivertrip in drivertrips">
        <li><div>Costo: {{drivertrip.tripExpenses | currency}}<strong class="pull-right"><ul class="nav navbar-nav">
            <li><a ng-href="#!/drivertrip/detail/{{drivertrip.id}}">Ver detalles</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="list-group visible-xs" ng-show="show" ng-repeat="drivertrip in drivertrips">
        <li>Costo: {{drivertrip.name | currency}}</li><li><ul class="nav navbar-nav">
        <li><a ng-href="#!/drivertrip/detail/{{drivertrip.id}}">Ver detalles</a></li></ul></li><br/>
    </ul>
</div></div></div>